<!DOCTYPE html>
<html>
<head>
    <title>Lekcyjne Ściągi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <span>Lekcyjne Ściągi</span>
    </header>
    <div class="main_container">

        <form action="/create-brief" method="post" class="main_subcontainer">
            <span>Enter lesson theme:</span>
            <input type="text" name="theme" required>
            <span>Enter description theme:</span>
            <textarea name="desc" class="desc"></textarea>
            <button type="submit">Generate Brief</button>
        </form>

        <div class="main_subcontainer">
            <h2>Dostępne Ściągi:</h2>
            <a href="../static/style_sciaga.css" class="download">Pobierz CSS</a>
            <ul>
            {% for brief in briefs %}
                <li>
                    <a href="{{brief.pathname}}">{{ brief.title }}</a>
                    <span class="date">({{ brief.date }})</span>
                    <a href="{{brief.pathname}}" download="{{brief.title}}" class="download">Pobierz</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>