<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>ShroomDev</title>
                <link rel="stylesheet" href="/static/style_main.css">
            </head>
            <body>
                <div class="landing-container">
                    <div class="logo-container">
                        <span class="logo-text">SHROOM</span>
                        <img src="/static/images/toadstool.svg" alt="Mushroom" class="logo-image">
                        <span class="logo-text">DEV</span>
                    </div>
                </div>
            </body>
            </html>